/*Estructura Color y Caligrafia*/
:root {
    --Primario: rgb(43, 239, 25);
    --Primario1: rgb(38, 160, 27);
    --Secundario: rgb(0, 0, 255);
    --Secundario1:rgb(16, 16, 133);
    --Secundario2: rgba(214, 214, 214, 0.651);
    --Blanco: #FFF;
    --Negro: #000;

    --FuentePrincipal: ;
    --FuenteSecundaria: ;
}

/*Globales*/
*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}
html {
    font-size: 62.5%;
    font-family: var(--FuentePrincipal);
    width: 100%;
    min-height: 100%;
}

body {
    font-size: 1.6rem;
    line-height: 1.5;
    font-family: var(--FuentePrincipal);
}
/*Nav*/
.sidebar {
  height: 100%;
  width: 60px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--Negro);
  padding-top: 20px;
  transition: width 0.3s;
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--Blanco);
  display: flex;
  margin-top: 20px;
}

.sidebar svg {
  position: fixed;
  margin-right: 20px;
}
.sidebar p {
  padding-left: 20px;
  opacity: 0;
  transition: opacity 0.3s;
}

.sidebar:hover {
  width: 200px;
}

.sidebar:hover p {
  opacity: 1;
}

.sidebar a:hover {
  background-color: var(--Primario1);
  width: 176px;
}

.option {
  margin: 30px 0;
}

.user {
  position: absolute;
  bottom: 0;
  padding-bottom: 40px;
}


   /*Iframe*/
   iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    padding-left: 60px;
   }