@import url(../general.css);

/*requiere que cualquier campo abajo tenga una distancia de --header_px*/
@media screen and (min-width: 1200px) {
    .custom-title-productos{
        text-align: center;
        font-size: 32px;
        padding: 30px;
    }
    .custom-list-productos{
        display:flex;
        color: white;
        justify-content: space-around;
        padding: 0 122px 0 122px;
    }
    .custom-item-producto{
        background-color: var(--color-weak2);
        border-radius: 15px;
        padding: 15px;
        width: 300px;
        height: 300px;
        cursor: pointer;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .custom-item-title h3{
        text-align: center;
        color: black;
    }
}